@model PageCartViewModel
<div class="container">
    @foreach(var el in Model.npage.listNewPage)
            {
    <div class="alert-warning mt-10">
        <b>Выражение</b> @el.Functions.name<br />
    </div>
            }
    <hr />
    <a class="btn btn-danger mb-5" asp-controller="Order" asp-action="Checkout">ХОП</a>

</div>
