@model PageCartViewModel
<div class="container">
    @foreach(var el in Model.npage.listNewPage)
            {
                <div class="alert-warning mt-2">
                    <b>Вырожение </b> @el.Functions.name<br/>
                </div>
            }
    <hr />
    <div class=" btn btn-danger" asp-controller ="Order">Выполнить</div>
    </div>