<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <header>
        <div class="row justify-content-md-center">
            <div class="col-md-auto">
                <a href="https://localhost:44393" class="btn btn-primary my-1"><ya-tr-span data-index="9-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="Home" data-translation="Index" data-type="trSpan"><h5>Главная</h5></ya-tr-span></a>
                <a href="https://localhost:44393/Functions/List" class="btn btn-primary my-1"><ya-tr-span data-index="9-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="Main call to action" data-translation="Главный призыв к действию" data-type="trSpan"><h5>Все функции</h5></ya-tr-span></a>
                <a href="https://localhost:44393/Functions/List" class="btn btn-primary my-1"><ya-tr-span data-index="9-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="Main call to action" data-translation="Главный призыв к действию" data-type="trSpan"><h5>Математика</h5></ya-tr-span></a>
                <a href="https://localhost:44393/Functions/List" class="btn btn-primary my-1"><ya-tr-span data-index="9-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="Main call to action" data-translation="Главный призыв к действию" data-type="trSpan"><h5>Физика</h5></ya-tr-span></a>
                <a href="https://localhost:44393/PageCart/Index" class="btn btn-primary my-1"><ya-tr-span data-index="9-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="Main call to action" data-translation="Главный призыв к действию" data-type="trSpan"><h5>Недавно добавленные</h5></ya-tr-span></a>
                <a href="#" class="btn btn-primary my-2"><ya-tr-span data-index="9-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="Main call to action" data-translation="Главный призыв к действию" data-type="trSpan"><h5>Поиск</h5></ya-tr-span></a>
                <a href="https://localhost:44393/Personal_Account/Entrance" class="btn btn-primary my-2"><ya-tr-span data-index="9-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="Main call to action" data-translation="Главный призыв к действию" data-type="trSpan"><h5>Войти</h5></ya-tr-span></a>
                <a href="https://localhost:44393/Personal_Account/Registratoin" class="btn btn-primary my-2"><ya-tr-span data-index="9-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="Main call to action" data-translation="Главный призыв к действию" data-type="trSpan"><h5>Регистрация</h5></ya-tr-span></a>
            </div>
        </div>
    </header>
    <div class="row">
        <div class="col-sm-3">
            <a href="#" class="list-group-item list-group-item-action py-3 lh-tight">
                <div class="d-flex w-100 align-items-center justify-content-between">
                    <strong class="mb-1"><ya-tr-span data-index="48-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="List group item heading" data-translation="Список группа товар заголовок" data-type="trSpan">Принятые обозначения</ya-tr-span></strong>
                </div>
                <div class="col-10 mb-1 small">
                    <ya-tr-span data-index="49-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="Some placeholder content in a paragraph below the heading and date." data-translation="Некоторое заполняющее содержание в абзаце под заголовком и датой." data-type="trSpan">
                        <ol>
                            <li>
                                Число <var>π</var> ≡ <kbd>pi</kbd>.
                            </li>
                            <li>
                                Число <var>e</var> ≡ <kbd>exp(1)</kbd>.
                            </li>
                            <li>
                                Степень числа x<sup>2</sup> ≡ <kbd>x^2</kbd>, <kbd>x^(n-1)</kbd>.
                            </li>
                            <li>
                                Функции: sin(x), cos(x), tan(x), atan(x).
                            </li>
                            <li>
                                Корень квадратный √¯ ≡ <kbd>sqrt()</kbd>.
                            </li>
                            <li>
                                Степень корня ≡ <kbd>x^(2/3), (x-1)^(1/3)</kbd>.
                            </li>
                            <li>
                                Логарифм <var>log<sub>5</sub>(x)</var> ≡ <kbd>log(x,5)</kbd>.
                            </li>
                        </ol>
                    </ya-tr-span>
                </div>
            </a>
            <a href="#" class="list-group-item list-group-item-action active py-3 lh-tight" aria-current="true">
                <div class="d-flex w-100 align-items-center justify-content-between">
                    <strong class="mb-1"><ya-tr-span data-index="46-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="List group item heading" data-translation="Список группа пункт заголовок" data-type="trSpan">Полезные советы</ya-tr-span></strong>
                </div>
                <div class="col-10 mb-1 small">
                    <ya-tr-span data-index="47-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="Some placeholder content in a paragraph below the heading and date." data-translation="Некоторое заполняющее содержание в абзаце под заголовком и датой." data-type="trSpan">
                        <div>1.Чтобы не вводить много данных, можно использовать вставку из Excel и Word.</div>
                        <div>2.Если решение не доступно, убедитесь, что в браузере отключен блокиратор (например Adblock).</div>
                        <div>3.Если в Word вместо формулы отображается Ошибка, уменьшите шрифт формулы.</div>
                        <div>4.Остальные советы можно найти в руководстве.</div>
                        <div>5.На главной странице находятся лишь некоторые виды онлайн-калькуляторов. Для доступа к другим разделам воспользуйтесь каталогом Калькуляторы по направлениям или функцией Поиск.</div>
                    </ya-tr-span>
                </div>
            </a>
        </div>
        <div class="col-sm-9">
            @RenderBody()
        </div>
        </div>
        <footer class="container">
            <p class="float-end"><a href="#">Вернуться</a></p>
            <p>© 2021 Company, Inc. · <a href="#">Обратная связь</a> · <a href="#">Правила сайта</a></p>
        </footer>
        <script src="~/js/bootstrap.min.js"></script>
</body>
</html>
