<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <header>
        <div class="row justify-content-md-center">
            <div class="col-md-auto">
                <a href="Home/Index" class="btn btn-primary my-1"><ya-tr-span data-index="9-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="Home" data-translation="Index" data-type="trSpan">Главная</ya-tr-span></a>
                <a href="Functions/List" class="btn btn-primary my-1"><ya-tr-span data-index="9-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="Main call to action" data-translation="Главный призыв к действию" data-type="trSpan">Все функции</ya-tr-span></a>
                <a href="Functions/List" class="btn btn-primary my-1"><ya-tr-span data-index="9-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="Main call to action" data-translation="Главный призыв к действию" data-type="trSpan">Математика</ya-tr-span></a>
                <a href="Functions/List" class="btn btn-primary my-1"><ya-tr-span data-index="9-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="Main call to action" data-translation="Главный призыв к действию" data-type="trSpan">Физика</ya-tr-span></a>
                <a href="PageCart/Index" class="btn btn-primary my-1"><ya-tr-span data-index="9-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="Main call to action" data-translation="Главный призыв к действию" data-type="trSpan">Недавно добавленные</ya-tr-span></a>
                <a href="#" class="btn btn-primary my-2"><ya-tr-span data-index="9-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="Main call to action" data-translation="Главный призыв к действию" data-type="trSpan">Поиск</ya-tr-span></a>
                <a href="Personal_Account/Entrance" class="btn btn-primary my-2"><ya-tr-span data-index="9-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="Main call to action" data-translation="Главный призыв к действию" data-type="trSpan">Войти</ya-tr-span></a>
                <a href="Personal_Account/Registratoin" class="btn btn-primary my-2"><ya-tr-span data-index="9-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="Main call to action" data-translation="Главный призыв к действию" data-type="trSpan">Регистрация</ya-tr-span></a>
            </div>
        </div>
</header> 
    <div class="container mt-5">
        @RenderBody()
    </div>
    <footer class="container">
        <p class="float-end"><a href="#">Вернуться</a></p>
        <p>© 2021 Company, Inc. · <a href="#">Обратная связь</a> · <a href="#">Правила сайта</a></p>
    </footer>
    <script src="~/js/bootstrap.min.js"></script>
</body>
</html>
