@model Functions

<div class="col-lg-4">

    <a class="d-block" href="@Model.shortDecs">
    

        <img class="img-thumbnail mb-3" srcset="" src="@Model.img" alt="" width="480" height="300" loading="lazy">
    </a>
    <h2>@Model.name</h2>
</div>