
<body>
    <article class="ref_cat" style="height: auto !important;">
        <div align="center">
            <h1>Производная функции</h1>
        </div>
        <strong>Производной функции <var>y=f(x)</var> в точке <var>x<sub>0</sub></var> называется конечный предел</strong> отношения приращения функции в этой точке к приращению аргумента при стремлении последнего к нулю.
        <div class="well">
            <div align="center">
                <h3>Таблица производных</h3>
                <img src="~/img/13.gif">
            </div>
        </div>
        <div align="center">
            <h3>Правила нахождения производных</h3>
        </div>
        <span class="examples"><h5>Пример</h5></span>Найти производную функции
        <code>y=cos<sup>4</sup>x</code>.
        <br>Решение.
        <br>Внешней функцией здесь служит степенная функция:
        <var>cos(x)</var> возводится в четвертую степень. Дифференцируя эту степенную функцию по промежуточному аргументу
        <var>cos(x)</var>, получим
        <br>
        <code>(cos<sup>4</sup>x)′<sub>cos x</sub> = 4cos<sup>4-1</sup>x = 4cos<sup>3</sup>x</code>
        <br>но промежуточный аргумент
        <var>cos(x)</var> – функция независимой переменной
        <var>х</var>; поэтому надо полученный результат умножить на производную от
        <var>cos(x)</var> по независимой переменной
        <var>х</var> . Таким образом, получим
        <br>
        <code>y′<sub>x</sub> = (cos<sup>4</sup>x)′<sub>cos x</sub>·(cosx)′<sub>x</sub> = 4·cos<sup>3</sup>x·(-sin x) = -4·cos<sup>3</sup>x·sin x</code>
        <br>При дифференцировании функций нет необходимости в таких подробных записях. Результат следует писать сразу, представляя последовательно в уме промежуточные аргументы.
        <div align="center">
            <h3>Прикладное использование производной</h3>
        </div>
        Вычисление производной первого и второго порядка используется во многих прикладных задачах:
        <ol>
            <li>
                Нахождение экстремумов функции одной переменной осуществляют приравниванием к нулю производной: <code>f'(x)=0</code>. Этот этап является основным для построения графика функции методом дифференциального исчисления.
            </li>
            <li>
                Значение производной в точке x<sub>0</sub> позволяет находить уравнение касательной к графику функции.
            </li>
            <li>
                Отношение производных позволяет вычислять пределы по правилу Лопиталя.
            </li>
            <li>
                В математической статистике плотность распределения <var>f(x)</var> определяют как производную от функции распределения <var>F(x)</var>.
            </li>
            <li>
                При отыскании частного решения линейного дифференциального уравнения требуется вычислять производную в точке.
            </li>
            <li>
                В методе Ньютона с помощью производной отделяют корни нелинейных уравнений.
            </li>
        </ol>
    </article>
</body>