@model HomeViewModel

<body>
    <div class="row justify-content-md-center">
        <div class="col-md-auto">
            <div align="center">
                <h1>
                    Калькуляторы по направлениям
                </h1>
            </div>
            <a href="https://localhost:44393/Gradient/List" class="btn btn-secondary my-1"><ya-tr-span data-index="9-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="Secondary action" data-translation="Вторичное действие" data-type="trSpan">Градиент</ya-tr-span></a>
            <a href="https://localhost:44393/Derivative/List" class="btn btn-secondary my-1"><ya-tr-span data-index="9-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="Secondary action" data-translation="Вторичное действие" data-type="trSpan">Производная</ya-tr-span></a>
            <a href="https://localhost:44393/Partial_Derivatives/List" class="btn btn-secondary my-1"><ya-tr-span data-index="9-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="Secondary action" data-translation="Вторичное действие" data-type="trSpan">Частные производные</ya-tr-span></a>
            <a href="https://localhost:44393/Seidel_Method/List" class="btn btn-secondary my-1"><ya-tr-span data-index="9-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="Secondary action" data-translation="Вторичное действие" data-type="trSpan">Метод Зейделя</ya-tr-span></a>
            <a href="https://localhost:44393/Gauss_Method/List" class="btn btn-secondary my-1"><ya-tr-span data-index="9-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="Secondary action" data-translation="Вторичное действие" data-type="trSpan">Метод Гаусса</ya-tr-span></a>
            <a href="https://localhost:44393/Matrix_Determinant/List" class="btn btn-secondary my-1"><ya-tr-span data-index="9-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="Secondary action" data-translation="Вторичное действие" data-type="trSpan">Определитель матрицы</ya-tr-span></a>
            <a href="https://localhost:44393/Kinetic_Energy/List" class="btn btn-secondary my-1"><ya-tr-span data-index="9-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="Secondary action" data-translation="Вторичное действие" data-type="trSpan">Кинетическая энергия</ya-tr-span></a>
            <a href="https://localhost:44393/Power_Archimedes/List" class="btn btn-secondary my-1"><ya-tr-span data-index="9-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="Secondary action" data-translation="Вторичное действие" data-type="trSpan">Сила Архимеда</ya-tr-span></a>
            <a href="https://localhost:44393/Hooke_Law/List" class="btn btn-secondary my-1"><ya-tr-span data-index="9-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="Secondary action" data-translation="Вторичное действие" data-type="trSpan">Закон Гука</ya-tr-span></a>
            <a href="https://localhost:44393/Current_Strength/List" class="btn btn-secondary my-1"><ya-tr-span data-index="9-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="Secondary action" data-translation="Вторичное действие" data-type="trSpan">Сила тока</ya-tr-span></a>
            <a href="https://localhost:44393/Momentum/List" class="btn btn-secondary my-1"><ya-tr-span data-index="9-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="Secondary action" data-translation="Вторичное действие" data-type="trSpan">Импульс</ya-tr-span></a>
            <a href="https://localhost:44393/Refraction_Light/List" class="btn btn-secondary my-1"><ya-tr-span data-index="9-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="Secondary action" data-translation="Вторичное действие" data-type="trSpan">Преломление света</ya-tr-span></a>
        </div>
    </div>
    <div class="row mt-5 mb-2">
        @{
          foreach (Functions fun in Model.favfunctions)
          {
              @Html.Partial("AllFun", fun)
          }
        }
    </div>
</body>