@model HomeViewModel

<body>
    <div class="row justify-content-md-center">
        <div class="col-md-auto">
            <div align="center">
                <h1>
                    Калькуляторы по направлениям
                </h1>
            </div>
            <a href="https://localhost:44393/Gradient/List" class="btn btn-secondary my-1"><ya-tr-span data-index="9-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="Secondary action" data-translation="Вторичное действие" data-type="trSpan">Градиент</ya-tr-span></a>
            <a href="https://localhost:44393/Derivative/List" class="btn btn-secondary my-1"><ya-tr-span data-index="9-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="Secondary action" data-translation="Вторичное действие" data-type="trSpan">Производная</ya-tr-span></a>
            <a href="https://localhost:44393/Partial_Derivatives/List" class="btn btn-secondary my-1"><ya-tr-span data-index="9-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="Secondary action" data-translation="Вторичное действие" data-type="trSpan">Частные производные</ya-tr-span></a>
            <a href="https://localhost:44393/Seidel_Method/List" class="btn btn-secondary my-1"><ya-tr-span data-index="9-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="Secondary action" data-translation="Вторичное действие" data-type="trSpan">Метод Зейделя</ya-tr-span></a>
            <a href="https://localhost:44393/Gauss_Method/List" class="btn btn-secondary my-1"><ya-tr-span data-index="9-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="Secondary action" data-translation="Вторичное действие" data-type="trSpan">Метод Гаусса</ya-tr-span></a>
            <a href="https://localhost:44393/Matrix_Determinant/List" class="btn btn-secondary my-1"><ya-tr-span data-index="9-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="Secondary action" data-translation="Вторичное действие" data-type="trSpan">Определитель матрицы</ya-tr-span></a>
            <a href="https://localhost:44393/Kinetic_Energy/List" class="btn btn-secondary my-1"><ya-tr-span data-index="9-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="Secondary action" data-translation="Вторичное действие" data-type="trSpan">Кинетическая энергия</ya-tr-span></a>
            <a href="https://localhost:44393/Power_Archimedes/List" class="btn btn-secondary my-1"><ya-tr-span data-index="9-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="Secondary action" data-translation="Вторичное действие" data-type="trSpan">Сила Архимеда</ya-tr-span></a>
            <a href="https://localhost:44393/Hooke_Law/List" class="btn btn-secondary my-1"><ya-tr-span data-index="9-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="Secondary action" data-translation="Вторичное действие" data-type="trSpan">Закон Гука</ya-tr-span></a>
            <a href="https://localhost:44393/Current_Strength/List" class="btn btn-secondary my-1"><ya-tr-span data-index="9-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="Secondary action" data-translation="Вторичное действие" data-type="trSpan">Сила тока</ya-tr-span></a>
            <a href="https://localhost:44393/Momentum/List" class="btn btn-secondary my-1"><ya-tr-span data-index="9-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="Secondary action" data-translation="Вторичное действие" data-type="trSpan">Импульс</ya-tr-span></a>
            <a href="https://localhost:44393/Refraction_Light/List" class="btn btn-secondary my-1"><ya-tr-span data-index="9-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="Secondary action" data-translation="Вторичное действие" data-type="trSpan">Преломление света</ya-tr-span></a>
        </div>
    </div>
    <div id="main_content">
        <br />
        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="next_prev_crosv">
            <tbody>
                <div align="center">
                    <h1>
                        Логические задачи
                    </h1>
                </div>
                <tr>
                    <br />
                    <strong>Логические задачи</strong> – это своеобразная  "гимнастика для ума", средство для утоления естественной для каждого
                    мыс­лящего человека потребности испытывать и упражнять силу собственного разума.
                    В разделе представлен ряд занимательных задач из области
                    математики, физики, естествознания, полюбившиеся многим задачи на взвешивание, задачи на нестандартное логическое мышление и
                    многое другое.
                </tr>
            </tbody>
        </table>
        <br>
        <a name="kuvshinka"></a>
        <table align="center" class="comments_generall_table">
            <tbody>
                <tr>
                    <td class="comments_info_2"><img src="~/img/29.gif" width="32" height="32" align="left" alt="Кувшинки на пруду"><h5>Кувшинки на пруду</h5></td>
                </tr>
                <tr>
                    <td class="zadacha_text">
                        На поверхности пруда плавает одна кувшинка, которая постоянно делится и разрастается.
                        Таким образом, каждый день площадь, которую занимают кувшинки, увеличивается в два раза. Через месяц покрытой оказывается вся
                        поверхность пруда. За сколько времени покроется кувшинками вся поверхность пруда, если изначально на поверхности будут плавать две кувшинки?
                        <div class="otvet_zadachi_in" onmousedown="this.innerHTML='<h6>Две кувшинки покроют озеро за месяц минус один день.</h6>'" style="cursor: hand">
                            <div class="otvet_zadachi_aut"><h6>Ответ к задаче</h6></div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <br>
        <table align="center" class="comments_generall_table">
            <tbody>
                <tr>
                    <td class="comments_info_2"><img src="~/img/30.gif" width="36" height="36" align="left" alt="Бабушкины гренки"><h5>Бабушкины гренки</h5></td>
                </tr>
                <tr>
                    <td class="zadacha_text">
                        Бабушка готовит внуку на ужин гренки. Для их приготовления она  использует маленькую сковороду, способную уместить
                        только два хлебных ломтика. На обжаривание каждой из сторон ломтика хлеба затрачивается одна минута времени. Чтобы приготовить три гренки, бабушке достаточно
                        всего лишь трех минут вместо очевидных четырех. Как ей удается это сделать?
                        <div class="otvet_zadachi_in" onmousedown="this.innerHTML='<h6>&nbsp; &nbsp;&nbsp; 1. Обжаривается одна сторона первого и второго ломтика (1-я минута). <br> &nbsp; &nbsp;&nbsp; 2. Первый ломтик переворачивается на другую сторону, второй временно убирается, а на его место кладется третий (2-я минута). <br> &nbsp; &nbsp;&nbsp; 3. Убирается готовый первый ломтик, возвращается на сковороду второй и дожаривается вместе с перевернутым третьим (3-я минута).</h6>'" style="cursor: hand">
                            <div class="otvet_zadachi_aut"><h6>Ответ</h6></div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <br />
        <a name="summa"></a>
        <table align="center" class="comments_generall_table">
            <tbody>
                <tr>
                    <td class="comments_info_2"><img src="~/img/31.gif" width="36" height="36" align="left" alt="Сумма чисел"><h5>Сумма чисел</h5></td>
                </tr>
                <tr>
                    <td class="zadacha_text">
                        В XIX веке один учитель задал своим ученикам вычислить сумму всех целых чисел от
                        единицы до ста. Компьютеров и калькуляторов тогда еще не было, и ученики принялись добросовестно складывать числа.
                        И только один ученик нашел правильный ответ всего за несколько секунд. Им оказался Карл Фридрих Гаусс - будущий
                        великий математик. Как он это сделал?
                        <div class="otvet_zadachi_in" onmousedown="this.innerHTML='<h6>Он выделил 49 пар чисел: 99 и 1, 98 и 2, 97 и 3 ... 51 и 49. В сумме каждая пара чисел равнялась ста, и оставалось два непарных числа 50 и 100. Следовательно, 49х100+50+100=5050.</h6>'" style="cursor: hand">
                            <div class="otvet_zadachi_aut"><h6>Ответ</h6></div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <br />
        <table align="center" class="comments_generall_table">
            <tbody>
                <tr>
                    <td class="comments_info_2"><img src="~/img/32.gif" width="36" height="36" align="left" alt="Притягательные игрушки"><h5>Притягательные игрушки</h5></td>
                </tr>
                <tr>
                    <td class="zadacha_text">
                        В детской больнице юные пациенты очень любили иг­рать с очарова­тельными плюшевыми мишками,
                        которые были там. К сожалению, детям они так сильно нравились, что мишки стали исчезать: малолетние па­циенты уносили их домой. Как руководство больницы решило эту проблему?
                        <div class="otvet_zadachi_in" onmousedown="this.innerHTML='<h6>Всем мишкам сделали повязки и говорили маленьким детям, что миш­кам нужно оставаться в больнице, чтобы вылечиться. Дети с грустью, но с сочувствием соглашались.</h6>'" style="cursor: hand">
                            <div class="otvet_zadachi_aut"><h6>Ответ</h6></div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <br />
        <a name="ministr"></a>
        <table align="center" class="comments_generall_table">
            <tbody>
                <tr>
                    <td class="comments_info_2"><img src="~/img/33.gif" width="36" height="36" align="left" alt="Король и премьер-министр"><h5>Король и премьер-министр</h5></td>
                </tr>
                <tr>
                    <td class="zadacha_text">
                        Один король хотел сместить своего премьер-министра, но при этом не хотел его слишком обидеть. Он позвал премьер-министра к себе, положил при нем два листка бумаги в портфель и сказал: "На одном листке я напи­сал "Уходите", а на втором — "Останьтесь". Листок, который вы вытащите, решит вашу судьбу".
                        Премьер-министр догадался, что на обоих листках было написано "Уходите". Как же, однако, умудрился он при этих условиях сохранить свое место?
                        <div class="otvet_zadachi_in" onmousedown="this.innerHTML='<h6>Премьер-министр вытащил листок бумаги и, не глядя на него, скатал из него шарик — и проглотил. Поскольку на оставшемся листке стояло &quot;Уходите&quot;, то королю пришлось признать, что на проглоченном листке значилось &quot;Останьтесь&quot;.</h6>'" style="cursor: hand">
                            <div class="otvet_zadachi_aut"><h6>Ответ</h6></div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <br />
        <a name="falsh_moneta"></a>
        <table align="center" class="comments_generall_table">
            <tbody>
                <tr>
                    <td class="comments_info_2"><img src="~/img/34.gif" width="36" height="36" align="left" alt="Фальшивая монета"><h5>Фальшивая монета</h5></td>
                </tr>
                <tr>
                    <td class="zadacha_text">
                        На столе лежат девять монет. Одна из них — фаль­шивая. Как при помощи двух взвешиваний можно найти фальшивую монету? (Фальшивая монета легче настоящих.)
                        <div class="otvet_zadachi_in" onmousedown="this.innerHTML='<h6>Первое взвешивание: на каждую чашку весов кла­дем по три монеты. Если весы уравновешены, то для вто­рого взвешивания берутся две из трех оставшихся монет. Если фальшивая монета на весах, то ясно, на какой она чашке весов. Если же весы уравновешены, то фальши­вой является оставшаяся не взвешенная монета. Если при первом взвешивании одна из чашек переве­шивает другую, то фальшивая монета находится среди монет, вес которых оказывается меньше. Тогда вторым взвешиванием устанавливаем, какая из монет фальши­вая.</h6>'" style="cursor: hand">
                            <div class="otvet_zadachi_aut"><h6>Ответ</h6></div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <br />
        <a name="pozhar"></a>
        <table align="center" class="comments_generall_table">
            <tbody>
                <tr>
                    <td class="comments_info_2"><img src="~/img/35.gif" width="36" height="36" align="left" alt="Пожар на острове"><h5>Пожар на острове</h5></td>
                </tr>
                <tr>
                    <td class="zadacha_text">
                        Человек находится на острове. Из-за долгой засухи трава и кусты на острове сильно пересохли. Внезапно на одном конце острова возник пожар, и ветер погнал огонь в сторону человека. Спастись в море чело­век не может, так как в море у самого берега плавает множество акул. Берегов без растительности на острове нет. Как человеку спастись?
                        <div class="otvet_zadachi_in" onmousedown="this.innerHTML='<h6>Человеку нужно зажечь огонь на подветренной от себя стороне и немного отойти навстречу основному пожару. Ветер погонит огонь, зажженный человеком, к подветренному концу острова. Когда этот участок выгорит, человек смо­жет вернуться на него и спокойно ждать, пока основной пожар дой­дет до этого участка и погаснет, так как гореть уже будет нечему.</h6>'" style="cursor: hand">
                            <div class="otvet_zadachi_aut"><h6>Ответ</h6></div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <br />
    </div>
</body>