@model HomeViewModel
<body>
    <div class="row mt-5 mb-2">
        @{
            foreach (Functions fun in Model.favfunctions)
            {
                @Html.Partial("AllFun", fun)
            }
        }
    </div>
</body>