<div class="well">
    <iframe width="590" height="500" src="https://web2.0calc.com/widgets/horizontal/" scrolling="no"></iframe>
    <br><em>Примечание</em>:
    <ul>
        <li>
            <kbd>2<sup>nd</sup></kbd> - смена режима
        </li>
        <li>
            <kbd>const</kbd> - список общепринятых констант (например, постоянная Авогадро, π, масса электрона, постоянная Планка и многие другие).
        </li>
        <li>
            <kbd>ncr</kbd> - число сочетаний из <var>n</var> по <var>m</var>: <img class="img-online" src="images/chart/probability1.png" data-src="images/chart/probability1.png">
        </li>
        <li>
            <kbd>npr</kbd> - Число размещений из <var>n</var> элементов по <var>k</var>: <img class="img-online" src="images/chart/probability2.png" data-src="images/chart/probability2.png">
        </li>
        <li>
            <kbd>!</kbd> - факториал.
        </li>
        <li>
            <kbd>mod</kbd> - остаток от деления.
        </li>
        <li>
            <kbd>esc</kbd>, <kbd>C</kbd> - сброс, очистка.
        </li>
    </ul>
</div>