
<body>
    <body>

        <article class="ref_cat">
            <div align="center">
                <h1>Градиент функции</h1>
            </div>
            <strong>Градиент</strong> — вектор, своим направлением указывающий направление наискорейшего возрастания некоторой величины <var>u</var>. Другими словами, направление градиента есть направление наибыстрейшего возрастания функции.
            <div align="center">
                <img itemprop="image" width="179" height="45" src="~/img/10.gif" alt="Градиент функции" title="Градиент функции: формула">
            </div>
            <p>
                Полный дифференциал для функции двух переменных: <img src="~/img/11.png">
            </p><p>
                Полный дифференциал для функции трех переменных равен сумме частных дифференциалов: <code>d f(x,y,z)=d<sub>x</sub>f(x,y,z)dx+d<sub>y</sub>f(x,y,z)dy+d<sub>z</sub>f(x,y,z)dz</code>
            </p>
            <div align="center">
                <h2>Алгоритм нахождения градиента</h2>
            </div>
            <ol>
                <li>
                    Вычисление частных производных по формуле:
                    <div align="center">
                        <img width="179" height="45" src="~/img/10.gif" alt="Градиент функции" title="Градиент функции: формула">
                    </div>
                </li>
                <li>
                    Вычисление частных производных в точке <var>A</var>.
                </li>
                <li>
                    Нахождение направляющих углов вектора <var>a</var>.
                </li>
                <li>
                    Вычисление производной в точке <var>A</var> по направлению вектора <var>a</var> по формуле;
                    <div align="center"><img width="276" height="51" src="~/img/12.gif" alt="Производная в точке по направлению вектора" title="Производная в точке по направлению вектора"></div>
                </li>
                <li>
                    Наибольшая скорость возрастания функции в указанной точке равна модулю градиента функции в этой точке.
                </li>
            </ol>
        </article>
    </body>
</body>
