<body>
    <h1>Функции</h1>
    <h3>@Model.currCategory</h3>
<div class="row mt-5 mb-2">
    @{           
        foreach (Functions fun in Model.AllFun)
            {
                @Html.Partial("AllFun", fun)
            }
    }
</div>
</body>





