
<body>
        <article class="ref_cat" style="height: auto !important;">
            <div align="center">
                <h1>Частные производные</h1>
            </div>
            <strong>Частной производной</strong> по <var>x</var> функции <var>z = f(x,y)</var> в точке A(x<sub>0</sub>,y<sub>0</sub>) называется предел отношения частного приращения по <var>x</var> функции в точке <var>A</var> к приращению <var>∆x</var> при стремлении <var>∆x</var> к нулю.
            <br><u>Частные производные</u> функции <var>z(x,y)</var> находятся по следующим формулам: <img width="113" height="44" src="~/img/17.gif" alt="Частные производные" title="Частные производные" class="img-online">
            <br><u>Вторые частные производные</u> функции <var>z(x,y)</var> находятся по формулам:
            <br><img width="131" height="48" src="~/img/18.gif" alt="Вторые частные производные" title="Вторые частные производные" class="img-online">
            <br><u>Смешанные частные производные</u> функции <var>z(x,y)</var> находятся по формулам: <img width="124" height="47" src="~/img/19.gif" alt="Смешанные частные производные" title="Смешанные частные производные" class="img-online">
            Частные производные используются, например, при нахождении полного дифференциала</a> и экстремумов функции.
            <div align="center"> <h3>Частные производные функции нескольких переменных</h3></div>
            Если одному из аргументов функции <var>z = f(x,y)</var> придать приращение, а другой аргумент не изменять, то функция получит <i>частное приращение по одному из аргументов</i>: <code>Δ<sub>x</sub>z=f(x+Δ<sub>x</sub>,y)-f(x,y)</code> – это <em>частное приращение функции</em> <var>z</var> по аргументу <var>x</var>; <code>Δ<sub>y</sub>z=f(x,y+Δ<sub>y</sub>)-f(x,y)</code> – это частное приращение функции <var>z</var> по аргументу <var>у</var>.
            <br><strong>Частной производной функции нескольких переменных</strong> по одному из её аргументов называется предел отношения частного приращения функции по этому аргументу к соответствующему приращению аргумента при условии, что приращение аргумента стремится к нулю:
            <br><img class="img-online" width="150" height="52" src="~/img/21.gif"> – это частная производная функции z по аргументу <var>x</var>;
            <br><img class="img-online" width="150" height="54" src="~/img/20.gif"> – это частная производная функции <var>z</var> по аргументу <var>у</var>.
            <br>Чтобы вычислить частную производную ФНП по одному из её аргументов, нужно все другие её аргументы считать постоянными и проводить дифференцирование по правилам дифференцирования функции одного аргумента.
            <p>
                <span class="examples"><h5>Пример</h5></span> <code>z=2x<sup>5</sup>+3x<sup>2</sup>y+y<sup>2</sup>–4x+5y-1</code>
            </p><div class="hwith"><img class="img-online" width="407" height="99" src="~/img/22.gif"></div>

        </article>

</body>
